{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<h1 class="text-2xl">Hola {{ account.firstname }}</h1>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row">
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h3>Informacion general</h3>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6 class="text-muted">Email</h6>
                      <strong> {{ account.email }}</strong>
                    </div>
                    <div class="col-6 mb-3">
                      <h6 class="text-muted">Telefono:</h6>
                      <strong> {{ account.phone }}</strong>
                    </div>
                    <div class="col-6 mb-3">
                        <h6 class="text-muted">Direccion:</h6>
                        <strong> {{ account.direction }}</strong>
                    </div>
                    <div class="col-6 mb-3">
                        <h6 class="text-muted">Ultima entrada:</h6>
                        <strong> {{ account.last_login }}</strong>
                    </div>
                  </div>
                  <!-- ORDENES -->
                  <h3 data-bs-toggle="collapse" href="#collapseOrders" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Ordenes <i class="fa-regular fa-chevron-down" onclick="ChangeIcon()" id="imgUpDown"></i>
                    {% comment %} Ordenes <img src="{% static "images/icons/down-arrow.png" %}" width="25" height="25" id="imgUpDown" onclick="changeImage()"> {% endcomment %}
                  </h3>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-12 mb-3">                    
                      <div class="collapse" id="collapseOrders">                 
                          {% for order in orders%}
                          <div class="card card-body">
                            <div class="row">
                              <span class ="col">
                                <span class="text-muted">Codigo:</span><strong>{{order.id}}</strong>
                              </span>
                              <span class ="col">
                                <span class="text-muted">Metodo de pago:</span> <strong>{{ order.paid_method }}</strong>
                              </span>
                              <span class ="col">
                                <span class="text-muted">Total:</span> <strong>${{ order.paid_amount}}</strong>
                              </span>
                              <span class ="col">
                                <span class="text-muted"> Fecha:</span> <strong>${{ order.created_at}}</strong>
                              </span>
                            </div>
                            
                          </div>
                          {% endfor %}           
                      </div>               
                    </div>
                  </div>
                  <!-- Fin de las Ordenes-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      let ChangeIcon = function(){
        let clase = document.getElementById('imgUpDown');
        let status = 0
        if (document.getElementById("imgUpDown").className == "fa-regular fa-chevron-down")
        {
          document.getElementById("imgUpDown").className = "fa-regular fa-chevron-up"
        } else {
          document.getElementById("imgUpDown").className = "fa-regular fa-chevron-down"
        }
      }
    </script>
{% endblock %}