
body {
    width: 100%;
    background-color: #f8f9fa;
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Inico del nav personalizado*/

/*Para mantener el patron del primer navbar, si se hace un cambio
en el background color de .primer-navbar, debe hacerse en el custom por igual */
/*posibles verdes y amarillos
#68ad02
#fdcf81 Favorito*/
.fondo-header{
    background-color: #fdcf81;
    width: 100%;
}

.navbar-custom{
    background-color: #fdcf81;
}

.navbar-secundario{
    margin-left: 20%;
}

.nav-item-second {
    margin-left: 50px;
    margin-right: 50px;
}

/*Color del texto del nav-light*/
.navbar-light .navbar-nav .nav-link {
    color: #000000;
    opacity: 0.87;
  }

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #2e755c;
}

/*Fin del nav personalizado*/

/*Search Box*/
.search-bar{
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    max-height: 50px;
    background: #fae1b5;
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin-left: 12%;
    margin-right: 3%;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    max-height: 50px;
    outline: none;
    padding: 24px 20px;
    font-size: 20;
    color: #000000;
    opacity: 0.87;
}

.search-bar button img{
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    max-height: 50px;
    width: 60px;
    height: 60px;
    background: #fae1b5;
    cursor: pointer;
}
/*Fin del Search box*/

/*Texto de la base page*/
::placeholder{
    color:black;
    opacity: 0.5;
}


h1 {
    color: #000000;
    opacity: 0.87;
}
/*Fin del texto de la base page*/

.container{
    width: 100%;
    margin-top: 2%;
}

/*Footer  Color: #fdcf81*/
footer {
    background-color: #fdcf81;
    margin-top: auto;
    padding-top: 15px;
}
footer a {
    font-size: 12px; 
}
/*navbar de prueba*/

/*Modificaciones especializadas como drop_menu, etc*/

.dropdown .dropdown-menu {
    background-color: transparent;
}
/*Fin de las modificaciones especializadas*/

/*Formulario de registro*/
.card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*Fin de los formularios personalizados*/

/* Call to actions y botones */
.call-to-action {
    background-color: #016944;
    color:white;
    font-size: 15px;
    
}
.call-to-action:hover{
    background-color: #F08F20;
    color:white;
    font-size:15px;
}
.btn-users{
    width: 250px;
    font-size: 25px;
}
.btn-main-menu{
    font-size: 18px;
}
/* Fin de Call to Actions y botones */