body {
    width: 100%;
    background-color: #f8f9fa;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Quitar Scroll Lateral*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*a link en general*/
a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    opacity: 0.87;
}

/* Inico del nav personalizado*/

/*Para mantener el patron del primer navbar, si se hace un cambio
en el background color de .primer-navbar, debe hacerse en el custom por igual */
/*posibles verdes y amarillos
#68ad02
#fdcf81 Favorito*/
.fondo-header{
    background-color: #ffffff;
    width: 100%;
}

.navbar-custom{
    background-color: #ffffff;
}

.navbar-secundario{
    margin-left: 20%;
}

.nav-item-second {
    margin-left: 50px;
    margin-right: 50px;
}

/*Color del texto del nav-light*/
.navbar-light .navbar-nav .nav-link {
    color: #000000;
    opacity: 0.87;
  }

.navbar-nav a{
    font-size: 14px;
    font-weight: bold;
    color: #429e14;
}

/*Fin del nav personalizado*/

/*Search Box*/
/* Style the search field */
form.search-form input[type=search] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
    margin-bottom: 15px;
    border-radius: 30px 0px 0px 30px
  }
  
  /* Style the submit button */
  form.search-form button {
    float: left;
    padding: 10px;
    width: 10%;
    background: #429e14;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 0px 30px 30px 0px
  }

  
  /* Clear floats */
  form.search-form::after {
    content: "";
    clear: both;
    display: table;
  }
/*Fin del Search box*/

/*Texto de la base page*/
::placeholder{
    color:black;
    opacity: 0.5;
}


h1 {
    color: #000000;
    opacity: 0.87;
}
/*Fin del texto de la base page*/

.container{
    width: 100%;
    margin-top: 2%;
    margin: 0 auto;
}

/*Footer  Color: #fdcf81*/
footer {
    background-color: #2D977E;
    margin-top: auto;
    padding-top: 15px;
    font-size: 12px
}
footer ul{
    font-size: 12px;
    text-align: left;
    margin-left:5%;
    color:white;
    font-size: 12px;
}

footer li {
    color: white;
}
.footer-class {
    max-height: 200px;
}

/*Modificaciones especializadas como drop_menu, etc*/
.input-transparent{
    background-color: transparent;
    border:none;
}

/*Breadscrumbs*/
.breadcrumb-item {
    color: black;
    opacity: 0.87;
}
/*Fin de las modificaciones especializadas*/

/*Formulario de registro*/
.card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*Fin de los formularios personalizados*/

/* Call to actions y botones */

.call-to-action {
    background-color: #9eb021;
    color:white;  
    border-radius: 15px;
}
.call-to-action:hover{
    background-color: #E9961E;
    color:white;
    border-radius: 15px;
}
/* Fin de Call to Actions y botones */

/*Codigos para la maquetacion del home page*/
.homepage {
    padding-left: 10px;
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
}

/*quitar espaciado a los p*/

.homepage p {
    margin: 0;
    padding: 0;
}
/*Fin del homepage*/

.no-gutter > [class*='col-']{
    padding-left: 0;
    padding-right: 0;
}

/*cuadrado amarillo interno*/
.cuadro-about {
    background-color: #FEC430;
    width: 420px;
    height: 627px;
    margin-left: 70%;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .cuadro-about {
        background-color: #FEC430;
        width: 420px;
        height: 627px;
        margin-left: 0%;
        border-radius: 15px;
    }
  }


/*cuadro blanco de info*/
.cuadro-info{
    background-color:white;
    width: 352px;
    height: 750px;
    border-radius: 10px;
    margin-left:5%;
}

