{% extends 'core/base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
            Le enviamos un email con las intrucciones que debe seguir para cambiar su password, si la cuenta existe recibira un email.
            Por favor, revisar la seccion de SPAM

		  </p>
		  <p class="m-auto p-2">
		    Si no recibio ningun correo, es porque la cuenta no existe o esta en su seccion de SPAM
		  </p>
		  <p class="m-auto p-2"><a href="/">Volver al inicio</a></p>
	</div>
</div>

{% endblock %}