{% extends 'core/base.html' %}
{% load drop_menu %}

{%block title%} Products {%endblock%}
{% block content%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Buscar</li>
    </ol>
  </nav>
<span class="text-xs text-gray text-muted">Resultado de la busqueda: <em>{{query}}</em> </span>
<div class="container-fluid" style="margin-left: 7%;">
    <div class ="row pb-0 justify-content-end" style="margin-left: 74%;">
        {% drop_menu %}
    </div>   
    <div class="row p-3 pb-2 pt-3">
        {% if page_obj.object_list %}
            {% for product in page_obj.object_list %}
                <div class="card col-xs-12 col-md-6 col-lg-3" style="width: 18rem; margin: 10px; border-radius: 30px;">
                    <a href="{% url 'product_detail' product.category.slug product.slug %}" style="text-decoration:none; color: #000000; opacity:0.87;"><img src="{{ product.image_product.url }}" class="card-img-top" style="width: 250px; height: 200px;"></a>
                    <div class="card-body">
                        <div style="display: flex; flex-direction: row">
                            <h5 class="card-title"> <a href="{% url 'product_detail' product.category.slug product.slug %}" style="text-decoration:none; color: #000000; opacity:0.87;">{{ product.name_product }}</a></h5>
                        </div>
                        <strong class="card-text">{{ product.price_product}}</strong>
                        <p class="card-text">{{ product.description_product}}</p>                                 
                    </div>             
                    <div class="card-footer text-end" style="background-color:white;">
                        <a href=href="{% url 'add_to_cart' product.id_product 1 %}" class="btn btn-primary rounded call-to-action btn-main-menu"> Agregar al carrito</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <h3 class="text-xs text-gray text-muted">No hay resultados para la busqueda: <em>{{query}}</em> </h3>
        {% endif %}
    </div>
</div>
<center>
    {%if page_obj.has_previous %} {# si existe la página anterior #}
        <a href="?page={{page_obj.previous_page_number}}"><i class="fa-solid fa-chevron-left"></i></a> {# Link de la pagina anterior #}
    {% endif %}
    <span>{{ page_obj.number }}</span> {# Numero de la pagina actual #}
    
    {%if page_obj.has_next %} {# Revisa si existe otra pagina #}
        <a href="?page={{page_obj.next_page_number}}"><i class="fa-solid fa-chevron-right"></i></a> {# Link de la siguiente pagina#}
    {% endif %}
</center>
{%endblock%}