{% extends 'core/base.html' %}
{% load static %}
{% block title %} 500 Server Error {% endblock %}

{% block content%}
<div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Server Error!</p>
        <p class="lead">
            Error de problema interno del servidor.
        </p>
        <p class="lead">
            Si persiste contactanos al Whatsapp 
            <a href="https://wa.me/message/77WYNGFY5GVAP1" style="opacity: 1"><strong> (54)3516461335 </strong></a>
          </p>
        <a href="/" class="btn call-to-action">Home</a>
    </div>
</div>
{%endblock%}