{% extends 'core/base.html' %}
{% load static %}
{% block title %} Sóbre Nosotros {% endblock %}

{% block content%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sobre Nosotros</li>
    </ol>
  </nav>
<div class="container-fluid">
    <div
    class="bg-image"
    style="
      background-image: url({% static "images/company/QuienesSomosPage.png" %});
      height: 627px;
      width: 940px;
      border-radius: 15px;
    ">
      <div class= "cuadro-about">
        <div class="p-4">
          <p>Somos un microemprendimiento dedicado a los alimentos naturales; elaboramos productos alimenticios a base de leches vegetales, sin derivados de origen animal, sin lactosa ni gluten.</p>

          <p>Nuestros productos nacen en Córdoba - ARGENTINA y llegan a todo el país; contamos con 5 años de dedicación para que cada uno de los productos se destaque.</p>
    
          <p>Nuestros ingredientes son de alta calidad y es por eso que nos sentimos orgullos de ello!. </p>
    
          <p>Con <strong>Crazy Vegan</strong> podrás descubrir lo rico que es comer sano y natural con: nuestro untable, nuestras QUEmozzas y quesos; nuestra manteVEG; y podrás endúlzarte con nuestro dulce de leche de sésamo.</p>
    
          <p>Tenemos un gran compromiso con el medio ambiente y el reciclaje por lo que contamos con <strong>el primer envase de polipapel</strong> de Dulce de leche 100% biodegradable;  dándote una opción vegana y ecológica.</p>
        </div>
      </div>
    </div>
</div>


<div class="d-flex justify-content-around homepage pt-2 mt-2" style="background-color:#E7E7E7">
  <div style="color: #429E14">
      <i class="fa-solid fa-cart-shopping" style="font-size:20px;" ></i>
      <span class="text-uppercase">Nuestros</span>
      <br>
      <span class="text-uppercase">Productos</span>
      <br>
      <span class="text-dark">Comprar</span>
  </div>
  <div style="color: #429E14">
      <i class="fa-solid fa-truck" style="font-size:20px;"></i><span class="text-uppercase">Enviamos tu compra</span>
      <br>
      <span class="text-dark">Córdoba y alrededores</span>
  </div>
  <div style="color: #429E14">
      <i class="fa-brands fa-whatsapp" style="font-size:20px;"></i><span class="text-uppercase">¿Alguna Duda? ¡Contactanos!</span>
      <br>
      <span class="text-dark">(0356) 287-3020</span>
  </div>
</div>


{%endblock%}