{% extends 'core/base.html' %}
{% load static %}
{% block title %} Sóbre Nosotros {% endblock %}

{% block content%}
<h1 class="text-2xl">Sobre Nosotros</h1>
<div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm-7">
        <img src="{% static "images/company/provisional_logo.png" %}" width="550px" height="400px">
        <div class="d-flex justify-content-between">
            <div>
                <i class="fa-solid fa-cart-shopping pe-1"></i><span class="text-uppercase">Productos</span>
                <br>
                <span class="text-muted">Comprar</span>
            </div>
            <div>
                <i class="fa-solid fa-truck pe-1"></i><span class="text-uppercase">Enviamos a tu casa</span>
                <br>
                <span class="text-muted">Córdoba y alrededores</span>
            </div>
            <div style="padding-right: 15%">
                <i class="fa-brands fa-whatsapp pe-1"></i><span class="text-uppercase">¡Contactanos!</span>
                <br>
                <span class="text-muted">11-1111-1111</span>
            </div>
        </div>
      </div>
      <div class="col-sm-5 border" style="background-color: white;">
        <p>
            Somos un microemprendimiento dedicado a los alimentos naturales.
            Elaboramos productos alimenticion veganos a base de leches vegetales.
        </p>
        <p>
            Nuestros productos nacen en Córdoba Argentina y llegan a todo el pais.
            Contamos con 5 años de dedicación para que cada uno de los productos se destaque.
        </p>
        <p>
            Nuestro ingredientes son de alta calidad ¡Y nos sentimos orgulloso de ello!. 
            Con <strong>Crazy Vegan</strong> podras descubrir lo rico que es comer sano y natural.
            Con nuestro untable, nuestra QUEmozza y quesos, nuestra manteVEG.
            Tambien podras endulzarte con nuestro dulce de leche de sesamo.
        </p>
        <p>
            Tenemos un gran compromiso con el medio ambiente, y el recipiente por lo que contamos con el primer envase de polipapel de Dulce de leche 100%
            biodegradable, dandote una opcion vegana y ecologica.
        </p>
        <p>
            Desde <strong>Crazy Vegan</strong> nos preocupamos por aportar de manera conciente a los
            Objetivos de Desarollo Sostenible.
            Todos nuestros productos son producidos de manera artesanal, por lo que nos proecupamos por generar un desarrollo a nivel nacional 
            y que nuestros insumos tambien lo sean.
        </p>
      </div>
    </div>
  </div>
{%endblock%}