{% load static %}

  {% for item in cart %}
  <div class="row align-items-center border-bottom" style="height:150x; width:450px">
    <!--Imagen -->
    <div class="col">
      <img src="{{ item.product.image_product.url }}" class="" style="width: 75px;">
    </div>
    <!--Titulo, Precio y Cantidad-->
    <div class="col-6">
      <div class="row">
        <span class ="col-8">
          {{ item.product.name_product}}
        </span>
        <span class ="col">
          Cant:
          <strong>{{ item.quantity }}</strong>
        </span>
        <span class ="col">
          <span class="text-muted">${{ item.product.price_total}}</span>
        </span>
      </div>
    </div>
    <!-- Botones -->
    <div class="col">
      <div class="row" style="margin:3px;">
        <a class ="col-md-6 col-lg-3 col-xl-3  " href="{% url 'change_quantity' item.product.id_product %}?action=increase">
          <i class="fa-solid fa-plus m-auto d-block text-info" aria-haspopup="true" aria-expanded="false" style="font-size:15px;"></i>
        </a>
        <a class ="col-md-6 col-lg-3 col-xl-3 "  href="{% url 'change_quantity' item.product.id_product %}?action=decrease">
          <i class="fa-solid fa-minus m-auto d-block text-danger" aria-haspopup="true" aria-expanded="false" style="font-size:15px;"></i>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class = "row align-items-center">
    <div class = "col-8 p-3">
      <a>Costo total: <strong>{{ cart.get_total_cost  }}</strong></a>
    </div>
    <div class = "col pl-5">
      <a href="/store/checkout/" class="btn call-to-action">Checkout</a>
    </div>
  </div>
  <div>
  </div>