<div class="dropdown">
    <a class="btn dropdown-toggle drop-menu-custom border border-dark btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Categorías
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for category in categories %}
            <li><a class="dropdown-item btn-main-menu" href="{% url 'category_detail' category.slug %}">{{category.name_category}}</a></li>
        {% endfor %}
    </ul>
</div>