{% load static %}
<footer class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <ul style="list-style-type:none;">
                <a href="/info"><li>Ayuda</li></a>
                <a href="/about"> <li>Terminos y Condiciones</li></a>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style-type:none;">
                <li></li>
                    <a href="/info"><li>Oferta</li></a>
                    <a href="/about"> <li>Sobre nosotros</li></a>
                <li></li>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style-type:none;">
                <li></li>
                    <li>Contactanos:</li>
                    <li><a href="#!" class="text-dark"><img src="{% static "images/icons/whatsapp.png" %}" width="15" height="15">11-1111-1111</a></li>
                    <li><a href="https://www.instagram.com/crazyvegancba/?igshid=ZGUzMzM3NWJiOQ%3D%3D" class="text-dark"><img src="{% static "images/icons/instagram.png" %}" width="15" height="15">@crazyvegans</a></li>
                <li></li>
            </ul>
        </div>
    </div>
</footer>
{% comment %} <footer class="height: 100px;">
    <div class="container-fluid">
      <div class="row" style="padding-left:8%; height: 150px;">
          <div class="col-xs-12 col-md-6 col-lg-3">
              <p href="/info" >Ayuda</p>
              <p href="/about" >Terminos y condiciones</p>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
              <p href="#!" >Ofertas</p>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
              <p href="/about">Sobre Nosotros</p>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
              
              <ul style="list-style-type: none;">
                  <p>Contactenos</p>
                  <li><a href="#!" class="text-dark"><img src="{% static "images/icons/whatsapp.png" %}" width="15" height="15">11-1111-1111</a></li>
                  <li><a href="#!" class="text-dark"> <img src="{% static "images/icons/mail.png" %}" width="15" height="15"></i>hola@crazyvegans.com.ar</a></li>
                  <li><a href="https://www.instagram.com/crazyvegancba/?igshid=ZGUzMzM3NWJiOQ%3D%3D" class="text-dark"><img src="{% static "images/icons/instagram.png" %}" width="15" height="15">@crazyvegans</a></li>
              </ul>
          </div> 
      </div>
    </div>
  </footer> {% endcomment %}