{% load static %}
<footer class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <ul style="list-style-type:none;">
                <a href="/info"><li>Ayuda</li></a>
                <a href="/about"> <li>Terminos y Condiciones</li></a>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style-type:none;">
                <li></li>
                    <a href="/info"><li>Oferta</li></a>
                    <a href="/about"> <li>Sobre nosotros</li></a>
                <li></li>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style-type:none;">
                <li></li>
                    <li>Contactanos:</li>
                    <li><i class="fab fa-whatsapp"></i><a href="#!" class="text-dark">11-1111-1111</a></li>
                    <li><a href="https://www.instagram.com/crazyvegancba/?igshid=ZGUzMzM3NWJiOQ%3D%3D" class="text-dark"><i class="fa-brands fa-instagram"></i>@crazyvegans</a></li>
                    <li>
                <li></li>
            </ul>
        </div>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Crazy Vegans Ecommerce" content="C11-01-m-python">
	<meta name="keywords" content="HTML, CSS, JavaScript, Django, Python">
	<meta name="author" content="Enmanuel De La Cruz">
</footer>