{% load static %}
<footer class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <ul style="list-style-type:none;">
                <a> <strong>COMPRA ONLINE</strong> </a>
                <a href="/product"><li>Productos</li></a>
                <a href="/offer"> <li>Ofertas</li></a>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style-type:none;">
                <li></li>
                    <a><strong>INSTITUCIONAL</strong></a>
                    <a href="/about"><li>Quienes Somos</li></a>
                    <a href="/info"> <li>Donde Encontrarnos</li></a>
                <li></li>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style-type:none;">
                <li></li>
                    <a><strong>CONTACTANOS: </strong></a>
                    <li><i class="fa-brands fa-whatsapp" style="color: #ffffff; font-size:14px"></i><a href="#!" class="text-white"> (0356) 287-3020</a></li>
                    <li><i class="fa-solid fa-envelope" style="color: #ffffff;"></i><a> contacto@crazyvegans.com.ar</a></li>
                    <li><a href="https://www.instagram.com/crazyvegancba/?igshid=ZGUzMzM3NWJiOQ%3D%3D" class="text-white"><i class="fa-brands fa-instagram"></i> @crazyvegans</a></li>
                    <li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="row text-center text-white">
        <p>Copyright Crazy vegan ® - 2023. Todos los derechos reservados. </p>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Crazy Vegans Ecommerce" content="C11-01-m-python">
	<meta name="keywords" content="HTML, CSS, JavaScript, Django, Python">
	<meta name="author" content="Enmanuel De La Cruz">
</footer>