{% extends 'core/base.html' %}
{% load static %}
{% load drop_menu %}

{%block title%} {%endblock%}
{% block content%}
<div class="homepage">
    <!--TOP-->
    <div class="row">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static "images/company/HomeTop1.jpg" %}" alt="Producto 1" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static "images/company/HomeTop2.jpg" %}" alt="Producto 2" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="{% static "images/company/HomeTop3.jpg" %}" alt="Producto 3" class="d-block w-100">
              </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
              <i class="fa-sharp fa-solid fa-circle-chevron-left" style="color: #ffffff; font-size:35px;"></i>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
              <i class="fa-sharp fa-solid fa-circle-chevron-right" style="color: #ffffff; font-size:35px;"></i>
            </button>
          </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-around pt-4">
            <div class="p-2">
                <p class="text-center"><i class="fa-regular fa-credit-card" style="color: #429e14; font-size: 25px;"></i></p>
                <p class="text-center"><strong>Paga con todas las tarjetas</strong></p>
                <p class="text-center">Tus pagos seguros. Es rápido y fácil</p>
            </div>
            <div class="p-2">
                <p class="text-center"><i class="fa-solid fa-truck" style="color: #429e14; font-size: 25px;"></i></p>
                <p class="text-center"><strong>Enviamos a todo el país</strong></p>
                <p class="text-center">Enviá gratis a partir de $6000</p>
            </div>
            <div class="p-2">
                <p class="text-center"><i class="fa-regular fa-phone" style="color: #429e14; font-size: 25px;"></i></p>
                <p class="text-center"><strong>¿Necesitas Ayuda?</strong></p>
                <p class="text-center">Servicio de atención al cliente (54)3516461335</p>
                <p class="text-center">De lunes a viernes 9:00 - 17:30</p>
            </div>
        </div>
    </div>

    <!--Mid-->
    <div class="row">
        <div class="d-flex justify-content-around pt-4">
          <a href="/product" style="opacity: 1">
            <div class="p-1">
                <img src="{% static "images/company/MidLeft.png" %}" class="img-responsive rounded">
            </div>
          </a>
            <a href="/offer">
              <div class="p-1" style="opacity: 1">
                  <img src="{% static "images/company/MidRight.png" %}" class="img-responsive rounded">
              </div>
            </a>
        </div>
    </div>

    <!--BOT-->
    <a href="/product" style="opacity: 1">
      <div class="row" class="pt-4">
        <img src="{% static "images/company/MidConoce.png" %}" class="img-responsive rounded">
      </div>
    </a>

    <a href="/about" style="opacity: 1">
    <div class="row pt-2 pb-2">
        <div class="d-flex justify-content-around pt-4">
        <img src="{% static "images/company/BotQuienesSomos.png" %}" class="img-responsive rounded" style="width:80%">
        </div>
    </div>
    <a>


</div>
{%endblock%}