{% extends 'core/base.html' %}

{%block title%} <p>Main Page</p> {%endblock%}
{% block content%}
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
<p>Main Page</p>
{%endblock%}

